.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--text-black-full);
}
